<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="bill.customer && bill.customer.name">
      <ion-col>
        <div class="ion-text-center ion-text-uppercase">
          <h4>{{ 'MENU.customer' | translate}}:</h4>
          <h6>{{bill.customer.name}}</h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="Employe && Employe.name">
      <ion-col>
        <div class="ion-text-center ion-text-uppercase">
          <h4>{{ 'MENU.employe' | translate}}:</h4>
          <h6>{{Employe.name}}</h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="6">
        <div class="ion-text-center ion-text-uppercase">
          {{ 'MENU.bill' | translate}} {{bill.numFacture }}
        </div>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="6">
        <div class="ion-text-center ion-text-uppercase">
          TOTAL: {{bill.commande.cartdetails.totalPrice |
          currency:'FCFA':'symbol':'3.0-0':'fr'}}
        </div>
        <div
          class="ion-text-center ion-text-uppercase"
          *ngIf="bill.montantReduction"
        >
          {{'MENU.discount' | translate}}:
          {{bill.commande.cartdetails.totalPrice - bill.montantReduction |
          currency:'FCFA':'symbol':'3.0-0':'fr'}}
        </div>
        <div
          class="ion-text-center ion-text-uppercase"
          *ngIf="bill.montantReduction"
        >
          {{'MENU.invoicespaye' | translate}}: {{bill.montantReduction |
          currency:'FCFA':'symbol':'3.0-0':'fr'}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="7" size-lg="7">
        <ion-row class="header-tab">
          <ion-col size="3" size-md="3">
            <div class="ion-text-center">{{'MENU.name' | translate}}</div>
          </ion-col>

          <ion-col size="3">
            <div class="ion-text-center">Qty</div>
          </ion-col>

          <ion-col size="3" class="ion-align-self-center">
            <div class="ion-text-center">T.P</div>
          </ion-col>
          <ion-col
            size="3"
            size-md="3"
            class="ion-align-self-center ion-hide-sm-down"
          >
            <div class="ion-text-center"></div>
          </ion-col>
        </ion-row>
        <ion-row
          *ngFor="let row of  products let i= index"
          class="data-row data-update"
          [ngStyle]="{'background-color': i % 2 == 0 ? '#f1f1f1' : 'white' }"
        >
          <ion-col
            size="3"
            *ngIf="!row.item.modeNG && !row.item.modeG && !row.item.CA && !row.item.BTL"
          >
            <div class="ion-text-center ion-text-uppercase ion-text-nowrap">
              <small class="namesmall"> {{row.item.name}}</small>
            </div>
          </ion-col>

          <ion-col
            size="3"
            *ngIf="!row.item.modeNG && !row.item.modeG && !row.item.CA && !row.item.BTL"
          >
            <div class="ion-text-center ion-text-uppercase ion-text-nowrap">
              <small> {{row.qty ? row.qty : 0}} </small>
            </div>
          </ion-col>
          <ion-col
            size="3"
            *ngIf="!row.item.modeNG && !row.item.modeG && !row.item.CA && !row.item.BTL"
          >
            <div class="ion-text-center ion-text-nowrap">
              <small class="pricesmall">
                {{row.price | currency:'FCFA':'symbol':'3.0-0':'fr'}}</small
              >
            </div>
          </ion-col>
          <ion-col
            class="divIcon"
            size="3"
            *ngIf="!row.item.modeG && !row.item.modeNG && !row.item.CA && !row.item.BTL"
          >
            <ion-row class="ion-justify-content-between">
              <ion-col size="3" class="ion-margin-end">
                <div class="ion-text-center"></div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-md="4" size-lg="4" *ngIf="toRemove.length">
        <div class="ion-text-center">
          <h6 style="text-transform: uppercase">produits retour</h6>
        </div>
        <app-retour-produits [products]="toRemove"></app-retour-produits>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="toRemoveArr.length">
      <ion-col
        size="12"
        size-md="4"
        size-lg="4"
        *ngFor="let arr of toRemoveArr; let i= index"
      >
        <div class="ion-text-center">
          <h6 style="text-transform: uppercase">
            {{ 'MENU.purchaseVoucher' | translate}} {{i + 1}}
          </h6>
        </div>
        <app-retour-produits [products]="arr"></app-retour-produits>
        <div class="ion-text-center" style="font-weight: bold; padding: 5px">
          <h6 style="text-transform: uppercase">
            Total: {{priceArr[i] | currency:'FCFA':'symbol':'3.0-0':'fr'}}
          </h6>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
