<ion-header>
  <ion-toolbar no-border>
    <ion-menu-button autoHide="false"></ion-menu-button>
    <ion-buttons>
      <ion-searchbar
        type="text"
        debounce="500"
        (ionChange)="getCustomerList($event)"
      ></ion-searchbar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" fill="outline" (click)="addPatient()">
        <ion-icon color="light" slot="end" name="add"></ion-icon>
        nouveau patient
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="customerList.length ">
    <ion-item
      color="primary"
      *ngFor="let custo of customerList"
      (click)="pickcustomer(custo)"
      ><small style="font-size: 12px; text-transform: uppercase"
        >{{ custo.name }}</small
      >
      &nbsp; &nbsp; &nbsp;
      <small style="font-size: 12px; text-transform: uppercase"
        >TEL: {{ custo.phone }}</small
      ></ion-item
    >
  </ion-list>
  <ion-grid *ngIf="patientTab.length">
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center ion-text-uppercase">Liste des patients</div>
      </ion-col>
    </ion-row>

    <ion-row class="header-component">
      <ion-col size-sm="3" size-md="3" size-lg="3">
        <div class="ion-text-center">name</div>
      </ion-col>
      <ion-col size-sm="3" size-md="3" size-lg="3">
        <div class="ion-text-center">age</div>
      </ion-col>
      <ion-col size-sm="3" size-md="3" size-lg="3">
        <div class="ion-text-center">Sexe</div>
      </ion-col>
      <ion-col size-sm="3" size-md="3" size-lg="3">
        <div class="ion-text-center">quartier</div>
      </ion-col>
    </ion-row>

    <ion-row
      *ngFor="let p of patientTab; let i = index"
      class="data-row data-update"
      [ngStyle]="{ 'background-color': i % 2 == 0 ? '#f1f1f1' : 'white' }"
    >
      <ion-col size-sm="3" size-md="3" size-lg="3">
        <div class="ion-text-start ion-text-uppercase smallSize">
          {{ p.name }}
        </div>
      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="3">
        <div class="ion-text-center ion-text-uppercase smallSize">
          {{ p.age}}
        </div>
      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="3">
        <div class="ion-text-center ion-text-uppercase smallSize">
          {{ p.sexe}}
        </div>
      </ion-col>
      <ion-col size-sm="3" size-md="3" size-lg="3">
        <div class="ion-text-center ion-text-uppercase smallSize">
          {{ p.quartier}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
