.lesbtn2 {
  font-size: 50%;
  //text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 35%;
  right: 20%;
}

ion-label h3 {
  font-size: 12px;
  text-transform: uppercase;
}

ion-label p {
  font-size: 12px;
  text-transform: uppercase;
}

.packName {
  font-size: 12px;
  position: absolute;
  bottom: 55%;
}
.packUnit {
  font-size: 12px;
}

.divBtn {
  height: 10px;
  width: 15;
}

.divBtn ion-button {
  font-size: 55%;
}

.divBtnUpdate {
  position: relative;
  right: 30%;
}
.name {
  font-weight: bold;
}
