
/node_modules/
/app/platforms/android/
/server/serverLog.txt
/server/package.json
/server/package-lock.json
/server/access.log
/server/node_modules/
/server/server.exe
/server/uploads/
/server/invoices/
server/test.js
/desktop/node_modules/
/desktop/build/
/desktop/dist/
/desktop/server.exe
/desktop/access.log
/desktop/mongo.js
/desktop/hello.bat
/desktop/dump/maeri/invoices.bson
/desktop/dump/maeri/invoices.metadata.json
/maeri/node_modules/
/maeri/www/
/localServer/node_modules/ 
/localServer/package-lock.json
/localServer/images/
/localServer/access.log
/localServer/server.exe
/localServer/www/
/localServer/localimages2/
/localServer/localimages4/