<ion-header>
  <ion-toolbar>
    <ion-title class="titre">{{ 'MENU.passwordpad' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col offset="2" size="8">
      <form #form="ngForm" (ngSubmit)="register(form)">
        <div padding>
          <ion-item>
            <ion-input
              name="password"
              type="password"
              placeholder="Your password"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="newPassWord"
              type="password"
              placeholder="new password"
              ngModel
              required
            ></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button color="danger" size="large" type="submit" expand="block"
            >UPDATE</ion-button
          >
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
