<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon slot="start" name="pricetag"></ion-icon>
    <ion-label>
      <h2>Company</h2>
      <p *ngIf="admin">{{admin.company}}</p>
    </ion-label>
  </ion-item>
  <div>
    <ion-item *ngIf="contrat">
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>Start At</h2>
        <p *ngIf="contrat">{{contrat.startAt | date}}</p>
      </ion-label>
    </ion-item>
  </div>
  <div>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input
            style="display: none"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <div class="input-group-append">
            <ion-button
              fill="clear"
              size="small"
              class="btn btn-outline-secondary calendar"
              (click)="d.toggle()"
              type="button"
              >start <ion-icon name="calendar"></ion-icon
            ></ion-button>
          </div>
        </div>
        <div>
          <pre>{{model.day}}/{{model.month}}/{{model.year}}</pre>
        </div>
      </div>
    </form>
  </div>
  <div>
    <ion-item *ngIf="contrat">
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>End At</h2>
        <p *ngIf="contrat">{{contrat.endAt | date}}</p>
      </ion-label>
    </ion-item>
  </div>
  <div>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input
            style="display: none"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="model2"
            ngbDatepicker
            #d2="ngbDatepicker"
          />

          <div class="input-group-append">
            <ion-button
              fill="clear"
              size="small"
              class="btn btn-outline-secondary calendar"
              (click)="d2.toggle()"
              type="button"
              >End <ion-icon name="calendar"></ion-icon
            ></ion-button>
          </div>
        </div>
      </div>
    </form>
    <div>
      <pre>{{model2.day}}/{{model2.month}}/{{model2.year}}</pre>
    </div>
  </div>
  <ion-item *ngIf="contrat">
    <ion-icon slot="start" name="print"></ion-icon>
    <ion-label position="floating" class="ion-text-wrap">
      <h2>Montant</h2>
      <p>{{contrat.montant}}</p>
    </ion-label>
    <ion-input [(ngModel)]="contrat.montant"></ion-input>
  </ion-item>
  <ion-button color="danger" (click)="update()">update</ion-button>
</ion-content>
