<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="bonusTab.length">
    <ion-row class="row-header">
      <ion-col
        size-sm="3"
        size-md="4"
        size-xm="4"
        size-lg="4"
        class="ion-align-self-center"
      >
        <div class="ion-text-center ion-text-uppercase taille">Nom</div>
      </ion-col>
      <ion-col
        size-sm="4"
        size-md="4"
        size-xm="4"
        size-lg="4"
        class="ion-align-self-center"
      >
        <div class="ion-text-center ion-text-uppercase taille">facture</div>
      </ion-col>
      <ion-col
        size-sm="4"
        size-md="4"
        size-xm="4"
        size-lg="4"
        class="ion-align-self-center"
      >
        <div class="ion-text-center ion-text-uppercase taille">sv</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size-sm="12"
        size-md="12"
        size-xm="12"
        size-lg="12"
        class="ion-align-self-center"
      >
      </ion-col>
    </ion-row>
    <ion-row
      color="primary"
      *ngFor="let bonus of bonusTab let i = index"
      [ngStyle]="{'background-color': i % 2 == 0 ? '#f1f1f1' : 'white' }"
    >
      <ion-col
        size-sm="4"
        size-md="4"
        size-xm="4"
        size-lg="4"
        class="ion-align-self-center"
      >
        <div class="ion-text-center ion-text-uppercase taille">
          {{bonus.client.name ? bonus.client.name : 'no Name'}}
        </div>
      </ion-col>
      <ion-col
        size-sm="4"
        size-md="4"
        size-xm="4"
        size-lg="4"
        class="ion-align-self-center"
      >
        <div class="ion-text-center ion-text-uppercase taille">
          {{bonus.data ? bonus.data.length : ''}}
        </div>
      </ion-col>
      <ion-col
        size-sm="4"
        size-md="4"
        size-xm="4"
        size-lg="4"
        class="ion-align-self-center"
      >
        <div class="ion-text-center ion-text-uppercase taille">
          {{bonus.bonus ? bonus.bonus : 0}}
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
