<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row color="primary" justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div padding>
        <ion-item>
          <ion-input
            name="name"
            type="text"
            placeholder="Name"
            [(ngModel)]="product.name"
            required
          ></ion-input>
        </ion-item>
        <!--
          <ion-item>
          <ion-label>Super Category</ion-label>
          <ion-select interface="popover" (ionChange)="test2($event)">
            <ion-select-option
              *ngFor="let prod of supcategories"
              value="{{ prod}}"
              >{{ prod}}</ion-select-option
            >
          </ion-select>
        </ion-item>
        -->
        <ion-item>
          <ion-label position="floating"
            >{{ 'MENU.category' | translate}}: {{product.categoryName ?
            product.categoryName: ''}}</ion-label
          >
          <ion-select interface="popover" (ionChange)="test($event)">
            <ion-select-option
              *ngFor="let prod of categorys"
              value="{{ prod._id }}"
              >{{ prod.name }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">prix achat: </ion-label>
          <ion-input
            name="purchasingPrice"
            type="number"
            placeholder="prix d'achat"
            [(ngModel)]="product.purchasingPrice"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">prix vente</ion-label>
          <ion-input
            name="sellingPrice"
            type="number"
            placeholder="prix de vente"
            [(ngModel)]="product.sellingPrice"
            required
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="saveRandom.getSetting().sale_Gaz">
          <ion-label position="floating">prix bouteille vide</ion-label>
          <ion-input
            desabled="!tabRoles.includes(7)"
            name="bottle_empty_Price"
            type="number"
            placeholder="bouteille vide"
            [(ngModel)]="product.bottle_empty_Price"
            required
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="saveRandom.getSetting().change_price">
          <ion-label position="floating">prix vente minimal</ion-label>
          <ion-input
            desabled="!tabRoles.includes(7)"
            name="acceptPrice"
            type="number"
            placeholder="prix de vente min"
            [(ngModel)]="product.acceptPrice"
            required
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="saveRandom.getSetting().sale_Gaz">
          <ion-label position="floating">bouteille pleine</ion-label>
          <ion-input
            desabled="!tabRoles.includes(7)"
            name="bottle_full"
            type="number"
            placeholder="prix de vente min"
            [(ngModel)]="product.bottle_full"
            required
            debounce="1500"
            (ionChange)="getBouteillePleine($event)"
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="saveRandom.getSetting().sale_Gaz">
          <ion-label position="floating">bouteille vide</ion-label>
          <ion-input
            desabled="!tabRoles.includes(7)"
            name="bottle_empty"
            type="number"
            placeholder="bouteille vide"
            [(ngModel)]="product.bottle_empty"
            required
            debounce="1500"
            (ionChange)="getBouteilleVide($event)"
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="saveRandom.getSetting().sale_Gaz">
          <ion-label position="floating">bouteille total</ion-label>
          <ion-input
            desabled="!tabRoles.includes(7)"
            name="bottle_total"
            type="number"
            placeholder="prix de vente min"
            [(ngModel)]="product.bottle_total"
            required
            readonly
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="userStore.length == 1">
          <ion-label>{{userStore[0].name}}</ion-label>
        </ion-item>
        <ion-item *ngIf="userStore.length > 1">
          <ion-label position="floating"
            >{{ 'MENU.store' | translate}}</ion-label
          >
          <ion-select
            cancelText="cancel"
            okText="Okay"
            interface="popover"
            (ionChange)="assignStore($event)"
          >
            <ion-select-option
              *ngFor="let role of userStore"
              value="{{ role.id }}"
              >{{ role.name }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <h2>Stock Min Alert</h2>
          </ion-label>
          <ion-input type="number" [(ngModel)]="stock_min"></ion-input>
        </ion-item>
      </div>
      <!-- [disabled]="form.invalid"-->
      <div padding>
        <ion-button
          color="danger"
          size="large"
          (click)="update()"
          expand="block"
          >{{ 'MENU.save' | translate}}</ion-button
        >
      </div>
    </ion-col>
  </ion-row>
</ion-content>
