.contenthome {
  margin-top: 25%;
}

.maeri {
  // margin-top: 40%;
  position: absolute;
  //left: 1%;
  top: 20%;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}

ion-button {
  --border-radius: 25px;
}
