<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="prod">
    <ion-card *ngIf="prod.url">
      <img [src]="prod.url" />
    </ion-card>
  </ion-list>

  <form *ngIf="prod" #form="ngForm" (ngSubmit)="updateProduct(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label position="floating"
                >{{ 'MENU.name' | translate}}</ion-label
              >
              <ion-input
                [(ngModel)]="prod.name"
                name="name"
                type="text"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"
                >{{ 'MENU.size' | translate}}</ion-label
              >
              <ion-input
                [(ngModel)]="prod.sizeUnit"
                name="sizeUnit"
                type="number"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"
                >{{ 'MENU.packSize' | translate}}</ion-label
              >
              <ion-input
                name="packSize"
                type="number"
                placeholder="pack size"
                ngModel
                required
                [(ngModel)]="prod.packSize"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"
                >{{ 'MENU.packPrice' | translate}}</ion-label
              >
              <ion-input
                name="packPrice"
                type="number"
                placeholder="pack price"
                ngModel
                required
                [(ngModel)]="prod.packPrice"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating"
                >{{ 'MENU.spackPrice' | translate}}</ion-label
              >
              <ion-input
                name="sellingPackPrice"
                type="number"
                placeholder="pack selling price"
                ngModel
                required
                [(ngModel)]="prod.sellingPackPrice"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'MENU.unit' | translate}}</ion-label>
              <ion-select interface="popover" (ionChange)="unitMeasure($event)">
                <ion-select-option value="g">g</ion-select-option>
                <ion-select-option value="kg">kg</ion-select-option>
                <ion-select-option value="cl">cl</ion-select-option>
                <ion-select-option value="l">l</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>
                <h3>
                  {{ 'MENU.category' | translate}}: {{prod.categoryName?
                  prod.categoryName: 'not defined'}}
                </h3>
              </ion-label>
              <ion-select interface="popover" (ionChange)="test2($event)">
                <ion-select-option
                  *ngFor="let prod of categorys"
                  value="{{ prod._id }}"
                  >{{ prod.name }}</ion-select-option
                >
              </ion-select>
            </ion-item>

            <ion-item *ngIf="userStore.length > 1">
              <ion-label>
                <h3>{{storeName}}</h3>
              </ion-label>
              <ion-select interface="popover" (ionChange)="changeStore($event)">
                <ion-select-option
                  *ngFor="let store of storeList"
                  value="{{ store.id }}"
                  >{{ store.name }}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>
                <h3>{{ 'MENU.purchasingPrice' | translate}}</h3>
              </ion-label>
              <ion-input
                [(ngModel)]="prod.purchasingPrice"
                name="purchasingPrice"
                type="text"
                ngModel
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <h3>{{ 'MENU.sellingPrice' | translate}}</h3>
              </ion-label>
              <ion-input
                [(ngModel)]="prod.sellingPrice"
                name="sellingPrice"
                type="text"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="saleToRetailer">
              <ion-label>
                <h3>{{ 'MENU.retailerPrice' | translate}}</h3>
              </ion-label>
              <ion-input
                [(ngModel)]="prod.retailerPrice"
                name="retailerPrice"
                type="text"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <h3>{{ 'MENU.stock_alert' | translate}}</h3>
              </ion-label>
              <ion-input
                [(ngModel)]="prod.quantityToAlert"
                name="quantityToAlert"
                type="text"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="image"
                type="file"
                (change)="readUrl($event)"
                required
              ></ion-input>
            </ion-item>
            <ion-item
              button
              (click)="pickResource()"
              *ngIf="setting && setting.use_resource"
            >
              <ion-icon slot="end" name="add-circle-outline"></ion-icon>
              <ion-label>Resources</ion-label>
            </ion-item>
          </div>
          <ion-row *ngIf="resourceList">
            <ion-col size="12">
              <div class="ion-text-uppercase ion-text-center">
                <small></small>
              </div>
            </ion-col>
          </ion-row>
          <ion-row
            class="header-row"
            *ngIf="resourceList && resourceList.length"
          >
            <ion-col size="3" class="ion-align-self-center">
              <div class="ion-text-center">{{ 'MENU.name' | translate}}</div>
            </ion-col>

            <ion-col size="3" class="ion-align-self-center">
              <div class="ion-text-center">
                {{ 'MENU.quantity' | translate}}
              </div>
            </ion-col>
            <ion-col size="3" class="ion-align-self-center">
              <div class="ion-text-center">{{ 'MENU.unit' | translate}}</div>
            </ion-col>

            <ion-col size="3" class="ion-align-self-center">
              <div class="ion-text-center">Action</div>
            </ion-col>
          </ion-row>
          <ion-row
            *ngFor="let prod of resourceList; let i= index"
            class="data-row data-update"
            [ngStyle]="{'background-color': i % 2 == 0 ? '#f1f1f1' : 'white' }"
          >
            <ion-col size="3" class="ion-align-self-center">
              <div class="ion-text-center">{{prod.name}}</div>
            </ion-col>

            <ion-col size="3" class="ion-align-self-center">
              <div class="ion-text-center">{{prod.quantity}}</div>
            </ion-col>
            <ion-col size="3" class="ion-align-self-center">
              <div class="ion-text-center">{{prod.unitName}}</div>
            </ion-col>
            <ion-col size="3" class="ion-align-self-center">
              <div class="ion-text-center">
                <ion-button
                  fill="clear"
                  (click)="deleteResource(prod)"
                  color="primary"
                >
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon
                ></ion-button>
              </div>
            </ion-col>
          </ion-row>
          <div padding></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button
            color="success"
            size="small"
            type="submit"
            [disabled]="form.invalid"
            >{{ 'MENU.save' | translate}}</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
