<ion-header>
  <ion-toolbar>
    <ion-title class="titre"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="!vendorRole && !invoices"
        defaultHref="/start"
      ></ion-back-button>
      <ion-back-button
        *ngIf="vendorRole && !invoices"
        defaultHref="/vendor-start"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="invoices">
      <ion-button fill="clear" color="primary"> Back </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        class="round"
        color="danger"
        fill="clear"
        (click)="buildInventory()"
      >
        <div class="btnmenu">{{ 'MENU.Inventory' | translate}}</div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngStyle]="{'padding': '15px' }" *ngIf="onvarevenirdessus">
    <ion-row>
      <ion-col size="3">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input
                style="display: none"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="model"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <div class="input-group-append">
                <ion-button
                  fill="clear"
                  size="small"
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                  >start <ion-icon name="calendar"></ion-icon
                ></ion-button>
              </div>
            </div>
          </div>
        </form>
      </ion-col>
      <ion-col size="3" *ngIf="model" class="ion-padding ion-align-self-center">
        <pre>{{model.day}}/{{model.month}}/{{model.year}}</pre>
      </ion-col>
      <ion-col
        size="3"
        *ngIf="model2"
        class="ion-padding ion-align-self-center"
      >
        <pre>{{model2.day}}/{{model2.month}}/{{model2.year}}</pre>
      </ion-col>

      <ion-col size="3">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input
                style="display: none"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="model2"
                ngbDatepicker
                #d2="ngbDatepicker"
              />
              <div class="input-group-append">
                <ion-button
                  fill="clear"
                  size="small"
                  class="btn btn-outline-secondary calendar"
                  (click)="d2.toggle()"
                  type="button"
                  >End <ion-icon name="calendar"></ion-icon
                ></ion-button>
              </div>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-align-self-center" *ngIf="model && model2">
        <div class="ion-text-center">
          <ion-button size="small" (click)="takeInventory()">
            submit</ion-button
          >
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="slide1" *ngIf="!invoices">
    <div class="slide2" *ngIf="!invoices">
      <ion-slides pager="true">
        <ion-slide *ngFor="let inventory of multiStoreInventory; let i = index">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-center ion-text-uppercase">
                  <h4>
                    {{ inventory.storeName ? inventory.storeName: 'no name' }}
                  </h4>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="header-row">
              <ion-col size="6" class="ion-align-self-center">
                <div class="ion-text-center ion-text-uppercase">jour</div>
              </ion-col>

              <ion-col size="6" class="ion-align-self-center">
                <div class="ion-text-center ion-text-uppercase">action</div>
              </ion-col>
            </ion-row>
            <div class="nodejs">
              <ion-row *ngFor="let d of inventory; let i= index">
                <ion-col size="6" class="ion-align-self-center">
                  <div class="ion-text-center inte">
                    {{d.created | date:'medium'}}
                  </div>
                </ion-col>

                <ion-col size="6" class="ion-align-self-center">
                  <div class="ion-text-center inte">
                    <ion-button
                      fill="outline"
                      size="small"
                      (click)="displayInventory(d)"
                      >voir</ion-button
                    >
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
