.resource {
  width: 100%;
  display: flex;
}

ion-item {
  flex-grow: 1;
  width: 100%;
  border: 1px solid #f1f1f1;
  padding: 1px;
}

.label {
  font-size: 13px;
}
.pickerDiv {
  display: flex;
  justify-content: space-between;
}

.pickerDiv div {
  // display: flex;
}

.data-lastrow {
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-row {
  // background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
  ion-col {
    div {
      font-size: 9px;
    }
  }
}

.rowInventaire {
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
  ion-col {
    div {
      font-size: 9px;
    }
  }
}
