.round {
  --width: 3px;
  --height: 3px;
  // --border-radius: 50%;
  --vertical-align: middle;
  // --padding-start: 10px;
  // --padding-end: 10px;
  margin: 5px;
  font-size: 9px;
}

.h3 {
  text-transform: uppercase;
}

.productname {
  font-weight: bold;
  background-color: #f1f1f1;
  font-size: 10px;
  // text-align: center;
}

.montant {
  font-weight: bold;
}
.divprod {
  width: 100%;
  // display: flex;
}

ion-col {
  .inte {
    font-size: 9px;
  }

  // text-align: center;
}

.data-lastrow {
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-row {
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
  ion-col {
    div {
      font-size: 9px;
    }
  }
}
ion-input {
  // border: 1px solid black;
}

.calcul {
  border: 1px solid #f1f1f1;
}
.pad {
  padding-top: 15px;
  // padding-bottom: 10px;
}
.header-row {
  // font-weight: 500;
  // border-bottom: 2px solid black;
  background-color: #f1f1f1;
  color: black;
  ion-col div {
    // text-transform: uppercase;
    // font-size: 11px;
  }
}

.smalle {
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
}

.smallSize {
  font-size: 10px;
}
.offline {
  color: red;
}

.online {
  color: rgb(18, 243, 18);
}

.userconnect {
  margin-top: 35px;
}
ion-col {
  ion-icon {
    //  display: block;
    // padding: 10px;
  }
}
.enable {
  color: rgb(31, 141, 243);
}
.divIcon {
  ion-icon {
    //margin: px;
  }
}
ion-input {
  --background: #f1f1f1;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  font-size: 11px;
  font-weight: bold;
}

ion-col {
  .commande {
    font-size: 11px;
  }

  // text-align: center;
}

.myinput {
}
